textarea {
    min-height: 400px;
}
button{
    margin: 2px;
    padding: 2px;
    background-color: rgb(236, 233, 233);
    color: rgb(25, 113, 212);
    flex: 1;
}
.emailheader {
    border: 1px, black;
    border-style: ridge;
    padding: 2px;
    flex: 1;
}


.body {
    white-space: pre-wrap;
    min-height: 300px;
    border: 1px rgb(25, 113, 212);
    border-style: solid;
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
    text-align: center;
}

#compose-view, #email-view, #emails-view {
    border: 2px darkslategray;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 8px #888888;
    padding: 4px;

}


