body{
    background-color: honeydew;
}

form{
    width: 16%;
    margin: 2px;
    margin-left: 42%;
    margin-right: 42%;
}

.post{
    width: 30%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 35%;
    margin-right: 35%;
    background-color: lightskyblue;
    border: 2px rgb(3, 5, 7);
    border-style: solid;
    border-radius: 5px;
}

#newmessage{
    width: 80%;
    margin-left: 10%;
    text-align: center;

}
.submit{
    width: 20%;
    color: lightskyblue;
    margin-top: 1px;
    margin-left: 40%;
    margin-right: 40%;
    background-color: honeydew;
}

#submitpost{
    background-color: honeydew;
    
    color: lightskyblue;
}


.time{
    border-bottom: 1px solid grey;
    color: darkslategray;

}

.namebar{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
.name{
    margin-left: 45%;
    margin-right: 45%;
    
    font-weight: bold;
}

.edit{
    
    text-align: center;
    width: 15%;
    margin-left: 85%;
    margin-right: auto;
}

.content{    
    text-align: center;
    margin-left: 5%;
    color: orange(59, 200, 247);
    background-color: grey(0, 140, 255);
    margin-right: 5%;    
}

.pagination{
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
}

.page-item{
    color: honeydew;
    background-color: lightskyblue;
    border:1px black;
    border-radius: 5px;
    padding: 2px;
    margin: 1px;
}

a {
    color: honeydew;
}


button{
    margin:2px;
    margin-left: 10px;
    margin-right: 10px;
    padding:1px;
    background-color: honeydew;
    height: auto;
    
    border: 2px grey;
    border-radius: 5px;
    color: lightskyblue;
    width: 30%;
}

.likebar{
    text-align: center;
    border-top: 1px solid grey;
    
}

.likes{
    border-top: 1px solid grey;
}

.editbox{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.editsubmit{
    min-height: 20px;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;

}



