{% extends "network/layout.html" %}


{% block body %}
    {% if user.is_authenticated %}
        <div>
            <form>
                <input type="text" id="newmessage">
                <div><input type="submit" id="submitmessage"></div>                
            </form>
        </div>
    {% endif %}
{% endblock %}
<script>
    document.querySelector("#submitmessage").onclick = function() {
        console.log("i was clicked");
        let message = document.querySelector("#newmessage").value;
        fetch('/newpost', {
            method: 'POST',
            body: JSON.stringify({
                body: message
            })
          })
          .then(response => response.json())
          .then(result => {
              // Print result
              console.log(result);
          });
        console.log("before returning false");
        return false;
    }
</script>