{% extends "network/layout.html" %}


{% block body %}
    {% if user.is_authenticated %}
        <div>
            <form>
                <div><input type="text" id="newmessage"></div>
                <div class="submit"><a href="/"></a><input type="submit" id="submitmessage"></div>                
            </form>
        </div>
    {% endif %}

    {% for post in page_obj %}
    <div class="post">
    <div class='namebar'>
        <div class="name"><strong>{{post.user}}</strong></div>
    </div>
        
    
    <div class="time">{{post.timestamp}}</div>
    <div class="content">{{post.content}}
        {% if user.username == post.user.username %}
        <div><button class='edit'>Edit</button></div>
    
        {% endif %}
    </div>
    <div class="likebar">        
        <button class='like' value={{post.id}}>Like</button>
        <button>Reply</button>
    </div>
    </div>
    {% endfor %}
    
    <nav >
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">&laquo; Previous page                    
                    </a>
                </li>
                <li class="page-item">
                    <a href="?page=1">&laquo; First page</a>
                </li>
            {% endif %}
                
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a  href="?page={{ page_obj.next_page_number }}" aria-label="Next">Next page
                    <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
      </nav>

    <div id='allPosts'></div>
{% endblock %}
