{% extends "network/layout.html" %}
{% load static %}


{% block body %}
    {% if newpost %}
        {% if user.is_authenticated %}
            <div>
                <form>
                    <div><input type="text" id="newmessage"></div>
                    <div class="submit" id="submitpost"><a href="/"></a><input type="submit" id="submitmessage"></div>                
                </form>
            </div>
        {% endif %}
    {% endif %}

    {% for post in page_obj %}
    <div class="post">
        <div class='namebar'>
            <div class="name"><strong><a href="/profile/{{post.user.id}}">{{post.user}}</a></strong></div>
        </div>
        
    
        <div class="time">{{post.timestamp}}</div>
    
   
        <div class="content">
            <div class="textcontent" id="content{{post.id}}">{{post.content}}</div>
        
            {% if user.username == post.user.username %}

            <div><button class='edit' value={{post.id}}>Edit</button></div>
            <textarea class="editbox" id="edit-box{{post.id}}" style="display:none;"></textarea>
            <button class="editsubmit" id="edit-submit{{post.id}}" style="display:none;">Edit post</button>
        
            {% endif %}
        </div>

        <div class="likes" id="likes{{post.id}}" data-value={{post.likecount}}>
            &#x2764; {{post.likecount}}
        </div>

        <div class="likebar">        
            <button class='like' value={{post.id}}>

                {% if post.id in likedposts %}

                <div style=color:red>Unlike</div>

                {% else %}

                Like

                {% endif %}                
            </button>
        </div>
    </div>
    {% endfor %}
    
    <nav >
        <ul class="pagination">
            {% if page_obj.has_previous %}

                <li class="page-item">
                    <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">&laquo; Previous page                    
                    </a>
                </li>
                <li class="page-item">
                    <a href="?page=1">&laquo; First page</a>
                </li>

            {% endif %}
                
            {% if page_obj.has_next %}

                <li class="page-item">
                    <a  href="?page={{ page_obj.next_page_number }}" aria-label="Next">Next page
                    <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>

            {% endif %}
        </ul>
      </nav>

    <div id='allPosts'></div>
    
{% endblock %}
{% block script %}
    <script src="{% static 'network/network.js' %}" ></script>
{% endblock %}
