{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div id="profile-bar">
    <div id="username">
        <strong>{{profile}}</strong>
    </div>
    <div id="followbar">
        
    
        <div id="followers">
            <div id="followcount" data-follows={{follows}}>Follows : {{follows}}</div>
            <div id="followercount" data-followers={{followers}}>Followers: {{followers}}</div>
        </div>
        {% if user != profile %}
        <div id="followbutton">
            <button id="follow" data-profileid={{profile.id}} data-profile={{profile}} data-user={{user}}>
                {% if profile in user.follows %}
                    Unfollow
                {% else %}
                    Follow
                {% endif %}
            </button>
        </div>
        {% endif %}
    </div>
</div>




{% for post in posts %}
    <div class="post">
    <div class='namebar'>
        <div class="name"><strong><a href="/profile/{{post.user.id}}">{{post.user}}</a></strong></div>
    </div>
        
    
    <div class="time">{{post.timestamp}}</div>
    
   
    <div class="content">
        <div class="textcontent" id="content{{post.id}}">{{post.content}}</div>
    
        {% if user.username == post.user.username %}

        <div><button class='edit' value={{post.id}}>Edit</button></div>
        <textarea class="editbox" id="edit-box{{post.id}}" style="display:none;"></textarea>
        <button class="editsubmit" id="edit-submit{{post.id}}" style="display:none;">Edit post</button>
    
        {% endif %}
    </div>
    <div class="likes" id="likes{{post.id}}" data-value={{post.likecount}}>
        &#x2764; {{post.likecount}}
    </div>
    <div class="likebar">        
        <button class='like' value={{post.id}}>

            {% if post.id in likedposts %}

            <div style=color:red>Unlike</div>

            {% else %}

            Like

            {% endif %}
            
        </button>
        <button>Reply</button>
    </div>
    </div>
    {% endfor %}
    
    <nav >
        <ul class="pagination">
            {% if posts.has_previous %}

                <li class="page-item">
                    <a href="?page={{ posts.previous_page_number }}" aria-label="Previous">&laquo; Previous page                    
                    </a>
                </li>
                <li class="page-item">
                    <a href="?page=1">&laquo; First page</a>
                </li>

            {% endif %}
                
            {% if posts.has_next %}

                <li class="page-item">
                    <a  href="?page={{ posts.next_page_number }}" aria-label="Next">Next page
                    <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>

            {% endif %}
        </ul>
      </nav>
      

{% endblock %}

{% block script %}
<script src="{% static 'network/profile.js' %}" ></script>
{% endblock %}